In [13]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

url="https://www.amazon.in/-/hi/%E0%A4%A8%E0%A4%BF%E0%A4%B0%E0%A5%8D%E0%A4%A6%E0%A5%87%E0%A4%B6%E0%A4%BF%E0%A4%A4-%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A4%BE%E0%A4%AB%E0%A4%BF%E0%A4%95-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%BF%E0%A4%82%E0%A4%9F%E0%A5%87%E0%A4%A1-%E0%A4%9F%E0%A5%80-%E0%A4%B6%E0%A4%B0%E0%A5%8D%E0%A4%9F-%E0%A4%AA%E0%A5%81%E0%A4%B0%E0%A5%81%E0%A4%B7%E0%A5%8B%E0%A4%82/dp/B09DQ12NSH/ref=sr_1_37?keywords=data%2Banalyst%2Btshirt&qid=1658399105&sr=8-37"
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:102.0) Gecko/20100101 Firefox/102.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page=requests.get(url,headers=headers)

soup1=BeautifulSoup(page.content,"html.parser")


soup2=BeautifulSoup(soup1.prettify(),"html.parser")
# print(soup2)

title=soup2.find(id="productTitle").get_text()

price=soup2.find("span",{"class":"a-offscreen"}).get_text()


print(title)
print(price)





# soup2

                   Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट पुरुषों के लिए | हाफ स्लीव रेगुलर फिट टी-शर्ट


                     ₹599.00

In [18]:
price1=price.strip()[1:]
title1=title.strip()
print(title1)

print(price1)

Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट पुरुषों के लिए | हाफ स्लीव रेगुलर फिट टी-शर्ट
599.00

In [40]:
import csv

header=["title","price","date"]
data=[title1,price1,today]

In [41]:
with open("amazonescraperdataset.csv","w",newline="",encoding="UTF8") as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [42]:
import datetime
today=datetime.date.today()
print(today)

2022-07-21

In [46]:
import pandas as pd
df=pd.read_csv(r"C:\Users\HP\Untitled Folder\amazonescraperdataset.csv")
df

                                               title  price        date
0  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
1  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21

In [45]:
with open("amazonescraperdataset.csv","a+",newline="",encoding="UTF8") as f:
    writer=csv.writer(f)
    writer.writerow(data)
# appending the data

In [52]:
def check_price():
    
    url="https://www.amazon.in/-/hi/%E0%A4%A8%E0%A4%BF%E0%A4%B0%E0%A5%8D%E0%A4%A6%E0%A5%87%E0%A4%B6%E0%A4%BF%E0%A4%A4-%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A4%BE%E0%A4%AB%E0%A4%BF%E0%A4%95-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%BF%E0%A4%82%E0%A4%9F%E0%A5%87%E0%A4%A1-%E0%A4%9F%E0%A5%80-%E0%A4%B6%E0%A4%B0%E0%A5%8D%E0%A4%9F-%E0%A4%AA%E0%A5%81%E0%A4%B0%E0%A5%81%E0%A4%B7%E0%A5%8B%E0%A4%82/dp/B09DQ12NSH/ref=sr_1_37?keywords=data%2Banalyst%2Btshirt&qid=1658399105&sr=8-37"
    headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:102.0) Gecko/20100101 Firefox/102.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page=requests.get(url,headers=headers)

    soup1=BeautifulSoup(page.content,"html.parser")


    soup2=BeautifulSoup(soup1.prettify(),"html.parser")
    # print(soup2)

    title=soup2.find(id="productTitle").get_text()

    price=soup2.find("span",{"class":"a-offscreen"}).get_text()

    price1=price.strip()[1:]
    title1=title.strip()
    
    import csv

    header=["title","price","date"]
    data=[title1,price1,today]
    
    with open("amazonescraperdataset.csv","a+",newline="",encoding="UTF8") as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [58]:
while(True):
    check_price()
    time.sleep(84500)

KeyboardInterrupt:

In [59]:
import pandas as pd
df=pd.read_csv(r"C:\Users\HP\Untitled Folder\amazonescraperdataset.csv")
df

                                               title  price        date
0  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
1  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
2  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
3  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
4  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
5  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21
6  Jasan Robert B. Weide ग्राफिक प्रिंटेड टी-शर्ट...  599.0  2022-07-21